h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

#corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#linha0,
#linha1,
#linha2,
#linha3,
#linha4,
#linha5,
#linha6,
#linha7,
#linha8,
#linha9,
#linha10,
#linha11,
#linha12,
#linha13,
#linha14 {
    display: flex;
}

.W {
    width: 50px;
    height: 50px;
}

.C {
    width: 50px;
    height: 50px;
    background-color: rgb(240, 230, 178);
}

.S {
    width: 50px;
    height: 50px;
    background-color: rgb(240, 230, 178);
}

.F {
    width: 50px;
    height: 50px;
    background-color: rgb(240, 230, 178);
}

body {
    background-color: yellowgreen;
}

#castor {
    max-width: 50px;
    max-height: 50px;
    animation-duration: 100ms;
}

#noz {
    max-width: 50px;
    max-height: 50px;
}

#arvore {
    width: 50px;
    height: 50px;
}

#areia {
    width: 50px;
    height: 50px;
}

@keyframes slideRight {
    from {
        margin-left: -33px;
    }
    to {
        margin-left: 0;
    }
}

.slideRight {
    animation-name: slideRight;
}